{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>
        {% block titulo %}

        {% endblock %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@800;900&display=swap" rel="stylesheet">
    <!-- Font Custom -->
    <link href={% static 'font/stylesheet.css' %} rel="stylesheet" />
    {% block estilos %}

    {% endblock %}

    
</head>


<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por favor espere...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="Buscar algo...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar" style="background-color: #28868F;!important">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <img class="navbar-brand" src={% static 'images/rayocustom.png' %}  alt="User" height="100%" "/>
                <a class="navbar-brand" href="index.html"><span class="login100-form-title-1" style="font-family: 'ground_controlregular', cursive; font-size: 25px;">
                    Custom System
                </span></a>
                
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">{{numeroNoti}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICACIONES</li>
                            <li class="body">
                                <ul class="menu">
                                    {% for computadora in mantenimientosNoti %}
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-deep-orange">
                                                <i class="material-icons">cleaning_services</i>
                                               
                                            </div>
                                            <div class="menu-info">
                                                <h4>{{computadora.0}}</h4>
                                                <p>
                                                    <i class="material-icons">face</i> {{computadora.1}}
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% for cartucho in cartuchosNoti %}
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">print</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>{{cartucho.0}}</h4>
                                                <p>
                                                    <i class="material-icons">print_disabled</i> {{cartucho.1}}
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    
                                   
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                    
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div >
                    <center>
                        <img src={% static 'images/admin.png' %} width="58" height="58"  alt="User" />
                    </center>
                    
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nombreCompleto}}</div>
                    <div class="email">{{correo}}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li role="separator" class="divider"></li>
                            <form id="form_validation" action="/editarEmpleado/" enctype="multipart/form-data"  method="POST" >{% csrf_token %}
                                
                                <li>
                                    <center>
                                        <button type="submit" style="color: gray; border: none; background-color: white;">
                                            Editar perfil</button>
                                    </center>
                                    
                                </li>
                                <li><input type="hidden" id="x" value="{{id_admin}}" name="idEmpleadoEditar"></li>

                            </form>
                            
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'salir' %}"><i class="material-icons">input</i>Salir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MENÚ DE NAVEGACIÓN</li>
                    {% if estaEnInicio %}
                    <li class="active" >
                    {% else %}
                    <li>
                    {% endif %}
                        {% if estaEnInicio %}
                        <a href="/inicio/">
                            <i class="material-icons" style="color: #00917C;!important">home</i>
                            <span style="color: #00917C;!important">Inicio</span>
                        </a>
                        {% else %}
                        <a href="/inicio/">
                            <i class="material-icons">home</i>
                            <span>Inicio</span>
                        </a>
                        {% endif %}
                    </li>
                   
                    
                    {% if estaEnVerAreas %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnAgregarAreas %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% endif %}
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnVerAreas %}
                            <i class="material-icons" style="color: #00917C;!important">work</i>
                            <span style="color: #00917C;!important">Departamentos</span>
                            {% else %}
                            {% if estaEnAgregarAreas %}
                            <i class="material-icons" style="color: #00917C;!important">work</i>
                            <span style="color: #00917C;!important">Departamentos</span>
                            {% else %}
                            <i class="material-icons" >work</i>
                            <span >Departamentos</span>
                            {% endif %}
                            {% endif %}
                        </a>
                        <ul class="ml-menu">
                            {% if estaEnVerAreas %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnVerAreas %}
                                <a  href="/verAreas/" style="color: #E40017;!important">Ver departamentos</a>
                                {% else %}
                                <a  href="/verAreas/">Ver departamentos</a>
                                {% endif %}
                                
                            </li>
                            {% if estaEnAgregarAreas %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnAgregarAreas %}
                                <a href="/agregarAreas/" style="color: #E40017;!important">Agregar departamento</a>
                                {% else %}
                                <a href="/agregarAreas/">Agregar departamento</a>
                                {% endif %}
                            </li>
                            
                            
                        </ul>
                    </li>
                    {% if estaEnVerEmpleados %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnAgregarEmpleados %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% endif %}
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnVerEmpleados %}
                            <i class="material-icons" style="color: #00917C;!important">groups</i>
                            <span style="color: #00917C;!important">Empleados</span>
                            {% else %}
                            {% if estaEnAgregarEmpleados %}
                            <i class="material-icons" style="color: #00917C;!important">groups</i>
                            <span style="color: #00917C;!important">Empleados</span>
                            {% else %}
                            <i class="material-icons" >groups</i>
                            <span >Empleados</span>
                            {% endif %}
                            {% endif %}
                            
                        </a>
                        <ul class="ml-menu">
                            {% if estaEnVerEmpleados %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnVerEmpleados %}
                                <a href="/verEmpleados/" style="color: #E40017;!important">Ver empleados</a>
                                {% else %}
                                <a href="/verEmpleados/">Ver empleados</a>
                                {% endif %}
                            </li>
                            {% if estaEnAgregarEmpleados %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnAgregarEmpleados %}
                                <a href="/agregarEmpleados/" style="color: #E40017;!important">Agregar empleados</a>
                                {% else %}
                                <a href="/agregarEmpleados/">Agregar empleados</a>
                                {% endif %}
                            </li>
                            
                        </ul>
                    </li>
                    {% if estaEnVerEquipos %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnAgregarEquipos %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnRenovacionEquipos %}
                    <li class="active">
                    {% else %}
                    <li >   
                    {% endif %}
                    {% endif %}
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnVerEquipos %}
                            <i class="material-icons"  style="color: #00917C;!important">computer</i>
                            <span  style="color: #00917C;!important">Equipos de Cómputo</span>
                            {% else %}
                            {% if estaEnAgregarEquipos %}
                            <i class="material-icons"  style="color: #00917C;!important">computer</i>
                            <span  style="color: #00917C;!important">Equipos de Cómputo</span>
                            {% else %}
                            {% if estaEnRenovacionEquipos %}
                            <i class="material-icons"  style="color: #00917C;!important">computer</i>
                            <span  style="color: #00917C;!important">Equipos de Cómputo</span>
                            {% else %}
                            <i class="material-icons"  >computer</i>
                            <span  >Equipos de Cómputo</span>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                           

                        </a>
                        <ul class="ml-menu">
                            {% if estaEnVerEquipos %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                            {% if estaEnVerEquipos %}
                                <a href="/verEquipos/" style="color: #E40017;!important">Ver equipos</a>
                                {% else %}
                                <a href="/verEquipos/">Ver equipos</a>
                                <li>
                                    {% endif %}

                            </li>
                            {% if estaEnAgregarEquipos %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnAgregarEquipos %}
                                <a href="/agregarEquipos/" style="color: #E40017;!important">Agregar equipos</a>
                                {% else %}
                                <a href="/agregarEquipos/">Agregar equipos</a>
                                {% endif %}

                            </li>
                            {% if estaEnRenovacionEquipos %}
                            <li class="active">
                                {% else %}
                                <li>
                                {% endif %}
                                    {% if estaEnRenovacionEquipos %}
                                    <a href="/renovacionEquipos/" style="color: #E40017;!important">Renovación de equipos</a>
                                    {% else %}
                                    <a href="/renovacionEquipos/">Renovación de equipos</a>
                                    {% endif %}
    
                                </li>
                          
                        </ul>
                    </li>
                    {% if estaEnVerImpresoras %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnAgregarImpresoras %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnRenovacionImpresoras %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if Insumos %}
                    <li class="active">
                    {% else %}
                    <li >
                    
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnVerImpresoras %}
                            <i class="material-icons" style="color: #00917C;!important">local_printshop</i>
                            <span style="color: #00917C;!important"> Impresoras</span>
                            {% else %}
                            {% if estaEnAgregarImpresoras %}
                            <i class="material-icons" style="color: #00917C;!important">local_printshop</i>
                            <span style="color: #00917C;!important"> Impresoras</span>
                            {% else %}
                            {% if estaEnRenovacionImpresoras %}
                            <i class="material-icons" style="color: #00917C;!important">local_printshop</i>
                            <span style="color: #00917C;!important"> Impresoras</span>
                            {% else %}
                            {% if Insumos %}
                            <i class="material-icons" style="color: #00917C;!important">local_printshop</i>
                            <span style="color: #00917C;!important"> Impresoras</span>
                            {% else %}
                            <i class="material-icons" >local_printshop</i>
                            <span> Impresoras</span>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}

                        </a>
                        <ul class="ml-menu">
                           
                            {% if estaEnVerImpresoras %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                            {% if estaEnVerImpresoras %}
                                <a href="/verImpresoras/" style="color: #E40017;!important">Ver impresoras</a>
                                {% else %}
                                <a href="/verImpresoras/">Ver impresoras</a>
                                {% endif %}
                            </li>
                            {% if estaEnAgregarImpresoras %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnAgregarImpresoras %}
                                <a href="/agregarImpresoras/" style="color: #E40017;!important">Agregar impresoras</a>
                                {% else %}
                                <a href="/agregarImpresoras/">Agregar impresoras</a>
                                {% endif %}
                            </li>
                            {% if estaEnRenovacionImpresoras %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnRenovacionImpresoras %}
                                <a href="/renovacionImpresoras/" style="color: #E40017;!important">Renovación impresoras</a>
                                {% else %}
                                <a href="/renovacionImpresoras/">Renovación impresoras</a>
                                {% endif %}
                            </li>
                            {% if Insumos %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% if estaEnAgregarInsumos %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                            {% endif %}
                                
                                <a href="javascript:void(0);" class="menu-toggle">
                                    {% if estaEnAgregarInsumos %}
                                    <span style="color: #E40017;!important">Insumos</span>
                                    {% else %}
                                    {% if estaEnVerInsumos %}
                                    <span style="color: #E40017;!important">Insumos</span>
                                    {% else %}
                                    <span>Insumos</span>
                                    {% endif %}
                                    {% endif %}
                                </a>
                                <ul class="ml-menu">
                                    {% if estaEnVerInsumos %}
                                     <li class="active">
                                      {% else %}
                                     <li>
                                    {% endif %}
                                        {% if estaEnVerInsumos %}
                                        <a href="/verInsumos/" style="color: #d49e0a;!important">Ver insumos</a>
                                        {% else %}
                                        <a href="/verInsumos/" >Ver insumos</a>
                                        {% endif %}

                                    </li>
                                    {% if estaEnAgregarInsumos %}
                                     <li class="active">
                                      {% else %}
                                     <li>
                                    {% endif %}
                                    {% if estaEnAgregarInsumos %}
                                        <a href="/agregarInsumos/" style="color: #d49e0a;!important">Agregar insumos</a>
                                        {% else %}
                                        <a href="/agregarInsumos/">Agregar insumos</a>
                                        {% endif %}
                                    </li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% if estaEnVerProgramas %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnAgregarProgramas %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnAsignarProgramas %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnverProgramasPorArea %}
                    <li class="active">
                    {% else %}
                     <li>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnVerProgramas %}
                            <i class="material-icons" style="color: #00917C;!important">apps</i>
                            <span style="color: #00917C;!important">Programas</span>
                            {% else %}
                            {% if estaEnAgregarProgramas %}
                            <i class="material-icons" style="color: #00917C;!important">apps</i>
                            <span style="color: #00917C;!important">Programas</span>
                            {% else %}
                            
                            {% if estaEnverProgramasPorArea %}
                            <i class="material-icons" style="color: #00917C;!important">apps</i>
                            <span style="color: #00917C;!important">Programas</span>
                            {% else %}
                            <i class="material-icons" >apps</i>
                            <span >Programas</span>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            
                        </a>
                        <ul class="ml-menu">
                            {% if estaEnVerProgramas %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnVerProgramas %}
                                <a href="/verProgramas/" style="color: #E40017;!important">Ver programas</a>
                                {% else %}
                                <a href="/verProgramas/" >Ver programas</a>
                                {% endif %}
                            </li>
                            {% if estaEnAgregarProgramas %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                {% if estaEnAgregarProgramas %}
                                <a href="/agregarProgramas/" style="color: #E40017;!important">Agregar programas</a>
                                {% else %}
                                <a href="/agregarProgramas/" >Agregar programas</a>
                                {% endif %}
                            </li>
                            
                            {% if estaEnverProgramasPorArea %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                    {% if estaEnverProgramasPorArea %}
                                    <a href="/ProgramaPorArea/" style="color: #E40017;!important">Ver programas por área</a>
                                    {% else %}
                                    <a href="/ProgramaPorArea/" >Ver programas por área</a>
                                    {% endif %}
                                </li>
                        </ul>
                    </li>
                    {% if estaEnCalendario %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnFormulario %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% endif %}
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnCalendario %}
                            <i class="material-icons" style="color: #00917C;!important">cleaning_services</i>
                            <span style="color: #00917C;!important">Mantenimiento</span>
                            {% else %}
                            {% if estaEnFormulario %}
                            <i class="material-icons" style="color: #00917C;!important">cleaning_services</i>
                            <span style="color: #00917C;!important">Mantenimiento</span>
                            {% else %}
                            <i class="material-icons" >cleaning_services</i>
                            <span >Mantenimiento</span>
                            {% endif %}
                            {% endif %}
                        </a>
                        <ul class="ml-menu">
                            {% if estaEnCalendario %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnCalendario %}
                                <a href="/calendarioMant/" style="color: #E40017;!important">Calendario de mantenimiento</a>
                                {% else %}
                                
                                <a href="/calendarioMant/">Calendario de mantenimiento</a>
                                {% endif %}
                            </li>
                            {% if estaEnFormulario %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnFormulario %} 
                                <a href="/formularioMant/" style="color: #E40017;!important">Formulario de mantenimiento</a>
                                {% else %}
                                <a href="/formularioMant/">Formulario de mantenimiento</a>
                                {% endif %}
                            </li>
                          
                        </ul>
                    </li>
                    {% if estaEnVerCarta %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnAgregarCarta %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% endif %}
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnVerCarta %}
                            <i class="material-icons" style="color: #00917C;!important">assignment</i>
                            <span style="color: #00917C;!important"> Carta Compromiso</span>
                            {% else %}
                            {% if estaEnAgregarCarta %}
                            <i class="material-icons" style="color: #00917C;!important">assignment</i>
                            <span style="color: #00917C;!important">Carta Compromiso</span>
                            {% else %}
                            <i class="material-icons" >assignment</i>
                            <span >Carta Compromiso</span>
                            {% endif %}
                            {% endif %}
                        </a>
                        <ul class="ml-menu">
                            {% if estaEnVerCarta %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnVerCarta %}
                                <a href="/verCarta/" style="color: #E40017;!important">Ver cartas</a>
                                {% else %}
                                <a href="/verCarta/">Ver cartas</a>
                                {% endif %}
                            </li>
                            {% if estaEnAgregarCarta %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnAgregarCarta %}
                                <a href="/agregarCarta/" style="color: #E40017;!important">Realizar carta</a>
                                {% else %}
                                <a href="/agregarCarta/">Realizar carta</a>
                                {% endif %}
                            </li>
                            
                        </ul>
                    </li>
                    {% if estaEnEquiposBitacora %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnImpresorasBitacora %}
                    <li class="active">
                    {% else %}
                    <li >
                    {% if estaEnEmpleadosBitacora %}
                    <li class="active">
                    {% else %}
                    <li >
                    
                    {% if estaEnCartuchosBitacora %}
                    <li class="active">
                    {% else %}
                    <li >
                    
                        
                
                
                    {% endif %}
                    {% endif %}
                    {% endif %}  
                    {% endif %}
                        <a href="javascript:void(0);" class="menu-toggle">
                            {% if estaEnEquiposBitacora %}
                            <i class="material-icons" style="color: #00917C;!important">import_contacts</i>
                            <span style="color: #00917C;!important">Bitacora</span>
                             {% else %}
                             {% if estaEnImpresorasBitacora %}
                             <i class="material-icons" style="color: #00917C;!important">import_contacts</i>
                            <span style="color: #00917C;!important">Bitacora</span>
                             {% else %}
                             {% if estaEnEmpleadosBitacora %}
                             <i class="material-icons" style="color: #00917C;!important">import_contacts</i>
                             <span style="color: #00917C;!important">Bitacora</span>
                             {% else %}
                            
                             {% if estaEnCartuchosBitacora %}
                             <i class="material-icons" style="color: #00917C;!important">import_contacts</i>
                            <span style="color: #00917C;!important">Bitacora</span>
                             {% else %}

                              
                              <i class="material-icons" >import_contacts</i>
                              <span >Bitacora</span>
                             
                        
                              {% endif %}
                              {% endif %}
                              {% endif %}  
                              {% endif %}
                    
                            
                        </a>
                        <ul class="ml-menu">
                            {% if estaEnEquiposBitacora %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnEquiposBitacora %}
                                <a href="/BitacorasEquipos/" style="color: #E40017;!important">Equipos</a>
                                {% else %}
                                <a href="/BitacorasEquipos/">Equipos</a>
                                {% endif %}
                            </li>
                            {% if estaEnImpresorasBitacora %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnImpresorasBitacora %}
                                <a href="/BitacorasImpresoras/" style="color: #E40017;!important">Impresoras</a>
                                {% else %}
                                <a href="/BitacorasImpresoras/">Impresoras</a>
                                {% endif %}
                            </li>
                            {% if estaEnEmpleadosBitacora %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnEmpleadosBitacora %}
                                <a href="/BitacorasEmpleados/" style="color: #E40017;!important">Empleados</a>
                                {% else %}
                                <a href="/BitacorasEmpleados/">Empleados</a>
                                {% endif %}


                            </li>
                            
                            {% if estaEnCartuchosBitacora %}
                            <li class="active">
                             {% else %}
                             <li>
                            {% endif %}
                                {% if estaEnCartuchosBitacora %}
                                <a href="/BitacorasCartuchos/" style="color: #E40017;!important">Cartuchos</a>
                                {% else %}
                                <a href="/BitacorasCartuchos/" >Cartuchos</a>
                                {% endif %} 
                            </li>
                           
                        </ul>
                    </li>
                    
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2021 <a href="javascript:void(0);">Administrador Custom System</a>.
                </div>
                <div class="version">
                    <b>Versión: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>
    <section class="content">
        <div class="container-fluid">
            {% block contenido %}

            {% endblock %}
                <!-- #END# Browser Usage -->
            </div>
        </div>
    </section>
    
    

    
    

    {% block estilosJs %}

    {% endblock %}
    
   

   

    

    
</body>

</html>
