

.margenP{
    margin-left: 5% !important;
    margin-right: 5% !important;
    text-align: justify !important;
}

#margenDIV{
    margin-left: 5% !important;
    margin-right: 5% !important;
}

#margenDIV1{
    margin-left: 40% !important;
    margin-right: 30% !important;
}